.advantages {
  background-color: #f2f2f2;
  &__wrapper {
    padding-top: 150px;
    padding-bottom: 50px;
    @include container();
    //height: 470px;
    overflow: hidden;
    text-align: center;
  }
  &__table {
    width: 840px;
    position: relative;
    left: -260px;
    margin: 0 auto;
    border-collapse: collapse;
    transition: left 1s;
    td {
      background-color: white;
      padding: 15px;
      border: 1px solid grey;
      width: 25%;
    }

    th {
      color: white;
      padding: 10px;
      background: #283645;
      &:first-child { 
        visibility: hidden; 
        display: none;
      }

    }
    td:first-child {
      display: none;
    }
  }
}

@media (min-width: 768px) { 
  .advantages {
    &__table {
      width: 620px;
      left: 0 !important;
      td:first-child {
        display: table-cell;
        width: 27%;
      }
      th:first-child {
        display: table-cell;
      }

    }

    .slider__controls {
      display: none;
    }
  }

}

@media (min-width: 1200px) { 
  .advantages {
    &__table {
      width: 940px;
    }
  }
}
