.advantages {
  background-color: #f2f2f2;
  &__wrapper {
    padding-top: 150px;
    padding-bottom: 50px;
    @include container();
    //height: 470px;
    overflow: hidden;
    text-align: center;
  }
  &__table {
    width: 840px;
    position: relative;
    left: -260px;
    margin: 0 auto;
    border-collapse: collapse;
    transition: left 1s;
    td {
      background-color: white;
      padding: 15px;
      border: 1px solid grey;
      width: 25%;
    }

    tr:first-child {
      background: #283645;
    }

    th {
      color: white;
      padding: 15px 30px;
      text-transform: uppercase;
      &:first-child {
        visibility: hidden; 
        display: none;
      }

    }
    td:first-child {
      display: none;
    }
  }

  &__hit {
    background: #283645 url(../img/bg-hit-tablet.svg) no-repeat 0 0;
    position: relative;
    &:before {
      content: "ХИТ";
      display: block;
      position: absolute;
      top: 10px;
      left: 5px;
      transform: rotate(-45deg);
    }
  }

  &__yes {
    background: url(../img/icon-yes-green.svg) no-repeat 90%;
  }

  &__no {
    background: url(../img/icon-no-red.svg) no-repeat 90%;
    background-size: 20px;
  }

  &__title {
    font-family: "OpenSansBold";
  }

  &__text {
    text-align: left;
    line-height: 30px;
  }

}

@media (min-width: 768px) { 
  .advantages {

    &__table {
      width: 620px;
      left: 0;
      td:first-child {
        display: table-cell;
        width: 27%;
        text-align: left;
      }
      th:first-child {
        display: table-cell;
      }

    }

    .slider__controls {
      display: none;
    }

    &__yes, &__no {
      background-position: 50%;
    }

    &__text {
      display: none;
    }
  }

}

@media (min-width: 1200px) { 
  .advantages {
    &__wrapper {
      padding-top: 200px;
    }
    &__table {
      width: 940px;
    }
  }
}
