.apps-links {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  &__link {
    display: inline-block;
    width: 60px;
    height: 50px;
    background-position: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    &--apple {
      background-image: url(../img/logo-apple.svg);
    }
    &--android {
      background-image: url(../img/logo-android.svg);
      margin: 0 17px;
    }
    &--windows {
      background-image: url(../img/logo-microsoft.svg);
    }

    a {
      display: block;
      width: 60px;
      height: 50px;
    }
  }

  @media (min-width: 768px) {
    margin: 50px 0 35px;
    &__link {
      &--android {
        opacity: 0.5;
      }
    }
  }

  @media (min-width: 1200px) {
    margin: 73px 0 52px;
    &__link {
      &--android {
        opacity: 1;
      }
    }
  }

}
