.apps-links {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  &__link {
    display: inline-block;
    width: 60px;
    height: 50px;
    background-position: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    &--apple {
      background-image: url(../img/logo-apple.svg);
    }
    &--android {
      background-image: url(../img/logo-android.svg);
    }
    &--windows {
      background-image: url(../img/logo-microsoft.svg);
    }

    a {
      display: block;
      width: 60px;
      height: 50px;
    }
  }
}
