.effect {
	background-color: white;
	display: none;
	&__wrapper {
		display: flex;
		align-items: center;
		@include container();
		height: 350px;

	}
	&__block {
		width: 50%;
		&--img {
			
		}
	}
}
@media (min-width: 768px) {
	.effect {
		display: block;
	 &__title {
	 	font-size: 26px;
	 	width: 150px;
	 	font-family: OpenSansBold;
	 }
	 &__link {
	 	color: #d22856;
	 }
	}
}

@media (min-width: 1200px) {
	.effect__wrapper {
		height: 465px;
	}
}