.intro {

  &__wrapper {
    @include container();
    // border: 1px solid black;
    height: 1002px;
    background-color: rgba(0,255,0,0.5);
    text-align: center;

  }

  // &__title-group {
  //   margin: 0px auto;
  //   position: relative;
  //   background-color: white;
  // 
  // }
  // 
  // &__title {
  //   color: #283645;
  //   font-size: 24px;
  //   padding: 20px;
  // }
  // 
  // &__suggestions {
  //   background-color: #f2f2f2;
  //   margin: 0;
  //   padding: 50px 20px 300px;
  //   list-style: none;
  //   background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% 110%;
  // }
}

@media (min-width: 768px) {
  .intro {
    &__wrapper {
      height: 1110px;
    }
      
  }
}
@media (min-width: 1200px) {
  .intro {
    &__wrapper {
      height: 1362px;
    }
  }
  
}

