.intro {
  background-color: #f2f2f2;
  &__wrapper {
    @include container();
    // border: 1px solid black;
    height: 788px;

    //background-color: rgba(0,255,0,0.5);
    text-align: center;
    padding-top: 20px;
  }

  &__title-group {

   margin: 0px auto; 
   padding-top: 40px;
   background-color: white;
   font-size: 23px;
   color: #1d2631;
   height: 155px;
   &:after {
    
    padding: 0;
    margin: 0;
    content: "";
    display: block;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/bg-triangle-white.svg) no-repeat 0 0;
    background-size: cover;

   }
  }
  &__suggestions {
    list-style: none;
    margin: 84px 20px;
    padding: 0;
    font-size: 14px;
  }
   &__title-group-wrapper {
    @include container();
    text-align: center;
   }
  // 
  &__title {
    color: #283645;
    line-height: 30px;
  }
  &__title {
    &:last-of-type {
      margin-top: 28px;
    }
  }
  // 
   &__suggestions {
   //  background-color: #f2f2f2;
  //   margin: 0;
  //   padding: 50px 20px 300px;
  //   list-style: none;
  //   background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% 110%;
   }
  img {
    position: relative;
    top: -35px;
  }
  overflow: hidden;

}

@media (min-width: 768px) {
  .intro {
    &__wrapper {
      position: relative;
      height: 493px;
    }
    &__suggestions {
      width: 320px;
      position: relative;
      left: 50%;
    }

    &__title-group {
      font-size: 38.5px;
      padding-top: 57px;
    }

    &__title-group:after {
      height: 100px;
     }

    &__title {
      &:last-of-type {
        margin: 10px auto;
        width: 335px;
        line-height: 50px;
      }

      }
    img {
      position: absolute;
      top: 30px;
      left: 0;
      width: 50%;
    }
    }
  }

@media (min-width: 1200px) {
  .intro {
    &__wrapper {
      height: 595px;
    }
    &__title-group:after {
      height: 140px;
      top: 23px;
    }

    &__title-group {
      font-size: 48.5px;
      padding-top: 81px;
      height: 202px;
    }

    &__title {
      &:last-of-type {
        margin-top: 13px;
        width: 425px;
        line-height: 63px;

      }
    }
   img {
    display: none;
   }

   &__suggestions {
    top: 200px;
    left: 0;
    width: 100%;
    margin: 80px 0;
   }

   &__item {
    margin: 0 30px;
    vertical-align: top;  
    display: inline-block;
    width: 20%;
    box-shadow: 0 -3px 3px -4px;
      &::after {
      content: "";
      position: absolute;
      z-index: -2;
      top: -250px;
      left: 0;
      padding: 0;
      width: 100%;
      height: 250px;
    }
    &--1:after {
      background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% -10%;
    }
    &--2:after {
      background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% -10%;
    }
    &--3:after {
      background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% -10%;
    }
   }
  }
  
}

