
.main {
  background-color: white;
  &__top {
    @include container();
    height: 160px;
    display: flex;
    p {
    	display: block;
      text-align: center;
      margin: auto;
      font-size: 14px;
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
	.main {
		&__top {
			height: 210px;
      p {
        font-size: 18px;
      }
		}
	}
}