.main-menu {
  position: relative;
  background-color: #283645;

  &--closed {
    .main-menu__items {
      display: none;
    }
  }
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid black;

    &:before {
      content: "";

      position: absolute;
      display: block;
      width: 100%;
      height: 70px;
      background: #283645 url(../img/logo-pink-white-mobile.svg) no-repeat 20px 20px;
      background-size: 76px 25px;
      top: -70px;
      left: 0;
    }
  }
  &__item {
    a {
      margin: 0;
      color: white;
      text-align: center;
      border-top: 1px solid #485461;
      border-bottom: 1px solid black;
      display: block;
      font-family: "OpenSansBold";
      font-size: 17.8px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 19px;
    }
  }

  &__toggle {
    height: 70px;
    position: absolute;
    top: -70px;
    right: 0;
    width: 70px;
    background: url(../img/icon-menu-cross.svg) no-repeat 50% 50%;
    z-index: 2;
    &.main-menu__toggle--burger {
      background-image: url(../img/icon-menu-burger.svg);

    }
    // background: transparent;
    border: none;
    outline: none;
    // &:after {
    //   position: absolute;
    //   top: 30px;
    //   right: 16px;
    //   display: block;
    //   content: "";
    //   width: 30px;
    //   height: 5px;
    //   background: white;
    //   transform: rotate(44deg);
    // }
    // &:before {
    //   position: absolute;
    //   top: 30px;
    //   right: 16px;
    //   display: block;
    //   content: "";
    //   width: 30px;
    //   height: 5px;
    //   background: white;
    //   transform: rotate(-44deg);
    //
    // }
  }



}
