.main-menu {
  position: relative;
  background-color: #283645;
  width: 320px;
  margin: 0 auto;

  &--closed {
    .main-menu__items {
      display: none;
    }
  }
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid black;

    &:before {
      content: "";

      position: absolute;
      display: block;
      width: 100%;
      height: 66px;
      background: #283645 url(../img/logo-pink-white-mobile.svg) no-repeat 20px 22px;
      background-size: 76px 22px;
      top: -66px;
      left: 0;
    }
  }
  &__item {
    a {
      margin: 0;
      color: white;
      text-align: center;
      border-top: 1px solid #485461;
      border-bottom: 1px solid black;
      display: block;
      font-family: "OpenSansBold";
      font-size: 17.8px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 19px;
    }
  }

  &__toggle {
    height: 40px;
    position: absolute;
    top: -53px;
    right: 20px;
    width: 50px;
    background: url(../img/icon-menu-cross.svg) no-repeat 50% 50%;
    z-index: 2;
    &.main-menu__toggle--burger {
      background-image: url(../img/icon-menu-burger.svg);

    }
    border: none;
    outline: none;

  }

}


@media (min-width: 768px) {
  .main-menu {
    width: 700px;

    &__toggle {
      right: 40px;
      top: -74px;
    }

    &__items:before {
      height: 110px;
      background: #283645 url(../img/logotype-white-tablet.png) no-repeat 40px 25px;
      background-size: 147px 41px;
      top: -110px;
    }

  }
}

@media (min-width: 1200px) {
  .main-menu {

    &--closed {
      .main-menu__items {
        display: block;
      }
    }
    background-color: transparent;
    &__toggle {
      display: none;
    }
    &__item {
      display: inline-block;
      margin-left: 30px;
      a {
        font-family: "OpenSansLight";
        border: none;
        text-transform: capitalize;
      }

    }
    &__items:before {
      display: none;
    }
    &__items {
      position: absolute;
      top: -90px;
      z-index: 35;
      border: none;


    }
  }
}
