.make-post {
  &__wrapper {
    @include container();
    height: 757px;
    background-color: rgba(0,255,0,0.5);
  }
  &__photo {
    float: left;
  }
  &__slider {

  }
  &__slider-control {
    width: 20px;
    height: 20px;
    background: url(../img/icon-editor-diagram-fill.svg) no-repeat center;
    background-size: 100%;
  }

  &__tools {
    list-style: none;
    float: right;
  }

  &__tool {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .make-post {
    &__wrapper {
      height: 511px;
    }
  }

}

@media (min-width: 1200px) {
  .make-post {
    &__wrapper {
      height: 514px;
    }
  }

}