.map {
   height: 300px;
  &__wrapper {
    @include container();
    //background-color: rgba(0,0,255,0.5);

  }
}

@media (min-width: 768px) { 
  .map {
      height: 378px;
  }
}

@media (min-width: 1200px) { 
  .map {
      height: 502px;
  }
}