.page-header {

  &__wrapper {
    @include container();
  }
  background-color: #1d2631;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: 50%;

  &__logo {
    background-color: rgba(178,178,178,0.2);
    img {
      margin: 20px;
    }
    // border: 1px solid white;



  }




  &__banner {
    margin-top: 100px;
    margin-bottom: -5px;
    width: 90%;
  }

  &__bottom {
    background-color: #1d2631;
    padding: 20px;

    color: #fff;
    text-align: center;

    &--white {
      background-color: white;
      color: #1d2631;
    }
  }
}
