.page-footer {

  &__title {
    color: #283645;
    font-size: 24px;
  }
  &__wrapper {
    @include container();
    background-color: rgba(255,0,0,0.5);
    display: none;
  }


  &__goto {
    display: inline-block;
    height: 35px;
    width: 30px;
    background: url(../img/htmlacademy.svg) no-repeat 50%;
    vertical-align: middle;
  }
}

@media (min-width: 768px) { 
  .page-footer {
    &__wrapper {
      display: block;
      height: 127px;
    }
  }
}

@media (min-width: 1200px) { 
  .page-footer {
    &__wrapper {
      height: 197px;
    }
  }
}