.page-footer {
  background-color: white;
  &--hidden-mobile {
    display: none;
  }

  &__title {
    color: #283645;
    font-size: 24px;
  }
  &__wrapper {
    @include container();

    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


  &__goto {
    display: inline-block;
    height: 35px;
    width: 30px;
    background: url(../img/htmlacademy.svg) no-repeat 50%;
    vertical-align: middle;
  }

  &__copyright {
    color: #283645;
  }
}

@media (min-width: 768px) { 
  .page-footer {
    &--hidden-mobile {
      display: block;
    }
    &__wrapper {
      height: 127px;
      flex-direction: row;
    }
  }
}

@media (min-width: 1200px) { 
  .page-footer {
    &__wrapper {
      height: 197px;
    }
  }
}