.posts {
  &__wrapper {
    @include container();
    &--panorama {
      position: relative;
    }
  }

  &__panorama {
    margin: 0 auto;
    width: 100%;
    img {
      width:100%;
      vertical-align: bottom;
    }
    &-id {
      width: 140px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 20px;
      text-transform: uppercase;
      color: #fff;
      background-color: #d22856;
    }
  }

  &__photo {
    img {
      vertical-align: bottom;
      width: 100%;
    }
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: 10px 20px;
    &:first-child {
      margin-top: 0;
    }

  }

  background-color: white;
  &__bottom {
    @include container();
    height: 172px;
    display: flex;
    p {
      display: block;
      text-align: center;
      margin: auto;
      font-size: 14px;
      width: 90%;
    }
  }
  &__author-name {
      font-family: "OpenSansBold";
  }
  &__desc {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  &__like {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    color: #d22856;
    text-transform: uppercase;
    &:before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background: url(../img/icon-heart.svg) no-repeat 100% 50%;
      background-size: 20px;
      margin-right: 20px;
 
    }
    &:after {
      content: "235";
      display: block;
      height: 22px;
      width: 20px;
      
    }
  }
}

@media (min-width: 768px) {
  .posts {
    &__wrapper {
   
    }
    &__panorama-id {
      top: 55px;
    }

    &__bottom {
      height: 194px;
    }
    &__items {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      margin: 10px;
      &:not(:first-child) {
        width: 310px; 
      }

    }

    &__desc {
      padding: 30px;
      min-height: 120px;
      &--1 {  
        flex-direction: row;
        flex-wrap: wrap;

      }
    }

    &__like {
      &:before {
        flex-grow: 1;
        order: 1;
      }
      &--1 {
        align-items: flex-start;
        justify-content: flex-end;
        order: 1;
        &:before {
          flex-grow: 0;
          margin-left: 30px;
        }
      }
    }

    &__text {
      &--1 {
        order: 2;
      }
    }

    &__photo {
      img {
        height: 300px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .posts {
    &__wrapper {
   
    }
    &__panorama {
   
    }


    &__item {
      
      &:not(:first-child) {
        width: 300px; 
      }

      &:first-child {
        margin-bottom: 40px;
      }
    }

    &__bottom {
      height: 185px;
    }
  }
}