.questions {
  background-color: white;
  position: relative;
  &__wrapper {
    @include container();
    height: 411px;
  }

  &__contacts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: OpenSansLight;
    color: #283645;
    padding-top: 23px;
  }

  &__item {
    text-align: center;
  }



  &__item-title {
    color: #283645;
  }

  &__item-val {
    color: #d22856;
    font-size: 20px;
    text-decoration: none;
  }

  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg-triangle-white-footer.svg) no-repeat 0 0;
    background-size: 100% 100%;
    z-index: 33;
    top: 411px;
  }
}
@media (min-width: 768px) { 
  .questions {
    &__wrapper {
      height: 402px;
    }
    &__contacts {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      width: 300px;
    }

    &__title {
      font-size: 38px;
    }

    &:after {
      height: 80px;
      top: 402px;
    }
  }
}

@media (min-width: 1200px) { 
  .questions {
    &__wrapper {
      height: 306px;
    }

    &__title {
      font-size: 50px;
    }
    &__item-2 {
      order: 1;
    }

    &:after {
      height: 130px;
      top: 300px;
    }
  }
}