.questions {
  
  &__wrapper {
    @include container();
    height: 411px;
    background-color: rgba(0,255,0,0.5);
  }
  &__items {

  }
  &__title {
    margin: 0;
  }
}
@media (min-width: 768px) { 
  .questions {
    &__wrapper {
      height: 402px;
    }
  }
}

@media (min-width: 1200px) { 
  .questions {
    &__wrapper {
      height: 367px;
    }
  }
}