.reviews {
  background-color: white;
  height: 354px;
  &__wrapper {
    @include container();
    height: 354px;
    //background-color: rgba(0,0,255,0.5);
    overflow: hidden;
    text-align: center;
  }
  &:after {
    padding: 0;
    margin: 0;
    content: "";
    display: block;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/bg-triangle-white.svg) no-repeat 0 0;
    background-size: cover;
  }

}
@media (min-width: 768px) { 
  .reviews {
    &__wrapper {
      height: 323px;
    }
    &:after {
      height: 100px;
    }
  }
}

@media (min-width: 1200px) { 
  .reviews {
    &__wrapper {
      height: 414px;
    }
    &:after {
      top: -60px;
      height: 140px;
    }
  }
}