.send-form {
	&__wrapper {
		@include container();
		height: 164px;
		background-color: rgba(0,255,0,0.5);
		p { margin: 0; }

	}
}
@media (min-width: 768px) {
	.send-form {
		&__wrapper {
			height: 122px;
		}
	}
}
@media (min-width: 1200px) {
	.send-form {
		&__wrapper {
			height: 105px;
		}
	}
}