.slider {
  overflow: hidden;
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    width: 960px;
    align-items: center;
    height: 290px;
    left: -320px;
    transition: left 1s;
  }

  &__item {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  &__controls {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__input {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
    &--active {
      height: 7px;
      width: 7px;
      border: 3px solid #283645;
      background-color: #f2f2f2;

    }
  }
}

@media (min-width: 768px) {
  .slider {
    &__items {
      width: 1980px;
      left: -660px;
    }
    &__item {
      width: 660px;
      flex-direction: column-reverse;
    }
  }
}

@media (min-width: 1200px) {
  .slider {
    &__items {
      width: 2880px;
      left: -960;
    }
    &__item {
      height: 300px;
      width: 960px;
    }
  }
}
