.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  &__item {


  }

  &__link {
    min-width: 40px;
    min-height: 40px;
    border: 3px solid #e9ebec;
    border-radius: 50%;

    &--tw {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/icon-twitter.svg) no-repeat 50%;
    }

    &--fb {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/icon-facebook.svg) no-repeat 50%;
    }

    &--yt {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/icon-youtube.svg) no-repeat 50%;
    }
  }
}

