.suggestion {
	position: relative;
	background-color: #f2f2f2;
	&__title {
		font-size: 19.5px;
	}
	&__desc {
		font-size: 14px;
		line-height: 23px;
	}
}

@media (min-width: 768px) {
	.suggestion {
		text-align: left;
	}
}
@media (min-width: 1200px) {
	.suggestion {
		text-align: center;
		z-index: 2;

	&__title {
		font-size: 24px;
	}
	&__desc {
		font-size: 16px;
	}

	}

}
